.app {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 100vh; 
  width: 100%; 
}

.flashcard-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.flashcard {
  width: 350px;
  height: auto;
  margin: 20px auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: lightblue;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers navigation buttons */
  gap: 10px;
}
